<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<div class="photo2">
   <img src="/images/pictureser.png" alt="photo2" />

</div>


<div class="center">
<h1 style="color:#2d1b70;margin-top:30px"><%= title %></h1>
</div>

<div style="margin-left:50px">  


   <p style="color:#605d72; font-size: x-large;">
   <h3>•	Programing in Java </h3><br>
   <h3>•	Programming in Python </h3><br>
   <h3>•	Quality Assurance and Testing </h3>
   <a class="button" href="/projects" target="_self">Next</a>

</div>



   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


